<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video 1</title>
</head>
<body>
    <!-- Todo lo que sea de vue lo encerramos en un container -->
    <div id="app">
        <h1>{{titulo}}</h1>
        <!--con keyup hacemos como el clip pero al dar al enter, si no añadimos al v-model
        el .number, guardará en forma de string por lo que no funciona con el cálculo del if-->
        <input type="text" @keyup.enter="agregarFruta" v-model.number="nuevaFruta">
        <button @click="agregarFruta">Agregar</button>
        <ul>
            <li v-for="fruta in frutasO"><strong>{{fruta.nombre}}</strong>, cantidad:{{fruta.cantidad}}
                <button @click="fruta.cantidad--">-</button>
                <button @click="fruta.cantidad++">+</button>
                <span v-if="fruta.cantidad<=0"> - Sin stock</span>
            </li>
        </ul>
        <h4>Total: {{sumarFrutas}}</h4>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="/video 3/video3.js"></script> <!--Si lo ponemos antes del script de vue no funciona-->
</body>
</html>